@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}




/* style.css */
html,body {
  height: 100%;
}

.content {
  display: flex;
  background-color: black;
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
}

#content-left {
  width: 387px;
  min-height: 100%;
  background-color: black;
  border-right: solid 1px #2E3337;
}

#content-left ul li {
  list-style: none;
  color: #fff;
  margin-bottom: 32px;
}

.tweet-up-btn {
  background-color: #008FFF;
  color: #fff; 
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  margin-left: 180px;
  border-radius: 30px;
  margin-top: 530px;
  height: 50px;
  width: 150px;
  border: none;
}

.tweet-up-btn:hover {
  opacity: 0.9;
}

.twitter {
  margin-top: 18px;
  margin-left: 148px;
  height: 35px;
  width: 45px;
  margin-bottom: 32px;
}

.hashtag {
  position: relative;
}

.hashtag-img {
  width: 33px;
  height: 35px;
  margin-left: 152px;
}

.hashtag-text {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  display: inline;
  margin-left: 14px;
  position: relative;
  top: 7px;
}

.configuration {
  position: relative;
}

.configuration-img {
  width: 36px;
  height: 33px;
  margin-left: 149px;
  margin-top: 22px;
}

.configuration-text {
  display: inline;
  position: absolute;
  width: 57px;
  height: 23px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  top: 28px;
  margin-left: 15px;
}

#content-center {
  width: 560px;
  min-height: 100%;
  background-color: black;
  border-right: solid 1px #2E3337;
}

.center-header {
  width: 560px;
  height: 48px;
  display: flex;
}

.center-header h1 {
  font-family: Helvetica Neue;
  color: #fff;
  margin-left: 28px;
  display: flex;
}

.header-twitter {
  margin-top: 8px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
}

.header-wrapper .official-mark {
  margin-top: 11px;
  margin-left: 3px;
}

.official-mark {
  width: 20px;
  height: 19px;
}

.arrow {
  width: 25px;
  height: 22px;
  margin-left: 14px;
  margin-top: 12px;
}

.header-tweets-number {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6E767D;
  margin-left: 29px;
  margin-top: 5px;
}

.center-profile {
  width: 560px;
  height: 520px;
  border-bottom: solid 1px #2E3337;
  position: relative;
}

.header-img {
  max-width: 100%;
  margin-top: 8px;
}

.profile-icon-block {
  position: absolute;
  top: 150px;
  left: 20px;
}

.profile-name {
  margin-top: 80px;
  margin-left: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.04em;
}

.profile-id {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  color: #6E767D;
  margin-left: 16px;
  letter-spacing: 0.04em;
}

.profile-follow-block {
  position: absolute;
  margin-top: 15px;
  right: 10px;
}

.round-button {
  background-color: #EFF3F5;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 18px;
  padding: 0 16px;
  height: 30px;
}

h1 .official-mark{
  margin-top: -12px;
  margin-left: 2px;
}


.profile-text h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: white;
  margin-top: 5px;
  margin-left: 15px;
}

.profile-information {
  display: flex;
}

.profile-map{
  display: flex;
  margin-top: 8px;
  margin-left: 16px;
}

.profile-birtnday {
  display: flex;
  margin-top: 8px;
  margin-left: 8px;
}

.profile-link {
  display: flex;
  margin-left: 10px;
  margin-top:9px;
}

.profile-link .profile-sab-text{
  color: #0096F8;
}

.profile-sab-text {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #6E767D;
}

.profile-sab-img {
  width: 20px;
  height: 22.35px;
}

.profile-startdate {
  display: flex;
  margin-left: 15px;
  margin-top: 2px;
}

.profile-startdate .profile-sab-text {
  margin-left: 6px;
}

.follows {
  display: flex;
  margin-top: 10px;
  margin-left: 0;
}

.follow {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-left: 20px;
}

.follow span {
  color: #4F565C;
  margin-left: 3px;
}

.tweet-profile-tab {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0px 35px;
  width: 510px;
  height: 36px;
  left: 20px;
  top: 20px;
}

.tweet-profile-tab-item {
  font-family: Hiragino Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #6E767D;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 53px;
}

.tweet-profile-tab-item:hover {
  width: 141px;
  height: 53px;
  background-color: rgba(217, 217, 217, 0.1);
  background-position: center;
  text-align: center;
  transition: 0.3s;
  }

.tweet-profile-tab-item a {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: default;
  bottom: 0;
  display: flex;
  height: 36px;
}

.tweet-profile-tab-item.selected {
  color: #FFFFFF;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tweet-profile-tab-item.selected a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #0096F8;
  border-radius: 20px;

}

.tweet-box {
  width: 562px;
  border-top: solid 1px #2E3337;
  border-bottom: solid 1px #2E3337;
  display: block;
  display: flex;
  padding: 12px 0;
}

.tweet-box-left {
  width: 48px;
  margin-right: 5px;
}

.tweet-detail {
  display: flex;
}

.tweet-detail .official-mark {
  margin-top: 2px;
  margin-left: 2px;
}

.tweet-profile-img {
  width: 65px;
  height: 55px;
  margin-left: 2px;
  margin-top: 11px;
}

.tweet-name {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.05em;
}

.tweet-id {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6E767D;
  margin-left: 3px;
  margin-top: 5px;
}

.tweet-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #6E767D;
  margin-top: 5px;
}

.tweet-menu-data {
  margin-left: 221px;
  width: 33px;
  height: 15px
}

.tweet-menu-data:hover {
  opacity: 0.5;
}

.tweet-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 10px;
  word-break: break-all;
}

.tweet-bottom {
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}

.tweet-bottom-blck {
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.reply {
  width: 26px;
  height: 21px;
}

.reply-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-left: 10px;
}

.rt {
  width: 28px;
  height: 15px;
}

.rt-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-left: 10px;
}

.like-icon {
  width: 16px;
  height: 16px;
  background-image: url("img/like.png");
  background-size: cover;
  border: none;
}

.like-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding-left: 10px;
}

.share {
  width: 22px;
  height: 25px;
}

.bottom {
  width: 1448px;
  height: 67px;
  background-color: #008FFF;
}

.bottom-text-top {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-left: 385px;
  padding-top: 10px;
}

.bottom-text-sab {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-left: 387px;
  padding-top: 3px;
}

#content-right {
  width: 479px;
  height: 100%;
  background-color: black;
}

.content-right-search-block {
  position: relative;
}

.search-box {
  width: 330px;
  height: 40px;
  border-radius: 40px;
  margin-left: 30px;
  padding-left: 50px;
  background-color: #202329;
  position: relative;
  border: none;
  color: #ffff;
}

.search-img {
  position: absolute;
  margin-top: 8px;
  left: 40px;
}

.right-main-text {
  font-family: Hiragino Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}

.login-box-top-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.07em;
  color: #FFFFFF;
  margin-left: 13px;
  margin-top: 16px;
  color: 687078;
}

.login-box {
  width: 328px;
  height: 286px;
  border-radius: 16px;
  border: solid 1px #2E3337;
  margin-left: 30px;
  margin-top: 6px;
}

.login-bnts {
  display: block;
  margin-top: 15px;
}

.login-btn {
  width: 281px;
  height: 37px;
  border-radius: 70px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #ffff;
  border: none;
}

.login-btn:hover {
  opacity: 0.9;
}

.login-btn span {
  color: #707376;
}

.login-box img {
  height: 22px;
  width: 22px;
  margin-right: 8px;
}

.login-box-bottom-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 4px 12px 17px 13px;
}

.login-box-bottom-text span:hover {
  border-bottom: solid 1px #0094F4;
}

.login-box-bottom-text span {
  color: #0094F4;
}

.block-imgs {
  margin-left: 30px;
  margin-top: 15px;
}

.img-top {
  display: flex;
}

.img-bottom {
  display: flex;
}

.imgs {
  width: 110px;
  height: 90px;
  background-size: cover;
}

.left-top {
  border-radius: 15px 0 0 0;
}

.right-top {
  border-radius: 0 15px 0 0;
}

.left-bottom {
  border-radius: 0 0 0 15px;
}

.right-bottom {
  border-radius: 0 0 15px 0;
}

.recommended-blocks  {
  width: 328px;
  height: 190px;
  background-color: #14181C;
  margin-top: 45px;
  border-radius: 15px;
  margin-left: 32px;
}

.recommended-account {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}

.account-information {
  margin-right: 60px;
}

.google-account-follow-btn {
  margin-left: 20px;
}

.round-button:hover {
  opacity: 0.9;
}

.tweet-name-block {
  display: flex;
}

.account-name-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.account-id {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #6E767D;
}

.recommended-account-icon-block {
  margin-right: 12px;
}

.account-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-image: url("img/twpr.png");
}

.account-icon.big {
  width: 120px;
  height: 120px;
}


/* new-tweet-box */

.new-tweet-box {
  width: 639px;
  height: 320px;
  background: #000000;
  border-radius: 15px;
  margin-top: -420px;
  margin-left: 10px;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal[data-open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.new-tweet-box-main {
  display: flex;
}

.new-tweet-box-main .tweet-profile-img {
  margin-top: 66px;
}

.what-are-you-doing-now {
  font-family: InaiMathi;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.12em;
  margin-top: 90px;
  margin-left: 10px;
  background-color: #000;
  border: none;
  color: #fff;
  word-break: break-all;
  width: 85%;
  outline: none;
}

.reply-guidancd {
  display: flex;
  margin-top: 90px;
  margin-left: 75px;
  border-bottom: solid 1px #222527;
  border-width: 2px;
  padding-bottom: 10px;
}

.new-tweet-box-img {
  width: 17px;
  height: 17px;
}

.reply-guidancd-text {
  font-family: Hind Guntur;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #0096F8;
  margin-top: -5px;
  margin-left: 5px;
}

.new-tweet-box-bottom {
  margin-left: 75px;
  display: flex;
  margin-top: 20px;
}

.new-tweet-img {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

.new-tweet-send-btn {
  border: none;
  width: 131px;
  height: 37px;
  background-color: #0096F8;
  border-radius: 17px;
  color: #fff;
  margin-left: 150px;
  margin-top: -10px;
}

.new-tweet-send-btn:hover {
  opacity: 0.8;
}

.tweet-option-box {
  width: 314px;
  height: 330px;
  background-color: #080808;
  border-radius: 5px;
  box-shadow: -2px 2px #000000
}

.tweet-option-box li {
  color: #FFFFFF;
  padding-top: 15px;
}

.tweet-option-box li:hover {
  opacity: 0.5;
}

#option-content-red {
  color: red;
}

.tweet-option-img {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

#option-content-post {
  color: blue;
  margin-left: 30%;
}

.delete-box {
  width: 288px;
  height: 269px;
  background-color: black;
  border-radius: 5px;
  margin: 50%;
  border-radius: 10px;
}

.delete-box-main-text {
  color: #FFFFFF;
  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  text-align:center;
  padding-top: 30px;
}

.delete-box-sab-text {
  color: #70767C;
  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 5px;
  
}

.delete-box-button {
  display:flex;
  flex-flow: column;
}

.delete-button {
  background: #F01A1A;
  Width: 230px;
  Height: 39px;
  border-radius: 50px;
  color: #FFFFFF;
  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  border: none;
  margin-left: 30px;
}

.cancel-button {
  margin-top: 8px;
  background: #000000;
  border: 0.3px solid #F9EEEE;
  border-radius: 50px;
  color: #fff;
  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  Width: 230px;
  Height: 39px;
  margin-left: 30px;
}

.cancel-button:hover {
  opacity: 0.5;
}

.delete-button:hover {
  opacity: 0.5;
}

.menu-box-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-box-modal[data-open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-box-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.delete-box-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delete-box-modal[data-open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-box-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.put-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.put-modal[data-open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.put-tweet-send-btn {
  border: none;
  width: 131px;
  height: 37px;
  background-color: #0096F8;
  border-radius: 17px;
  color: #fff;
  margin-left: 150px;
  margin-top: -10px;
}

.put-tweet-send-btn:hover {
  opacity: 0.8;
}

.put-modal-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}